<p>This is from family.component.html</p>


<!--Interpolation syntax - {{ }} -->
<p>Welcome to {{familyNaME}} Family</p> 

<!--Property binding syntax - {{ }} -->
<div [style.color]="color">Our Family's Favorite color is {{color}} </div> 


<!-- Property binding    -->
<p id="total" [innerText]="total"></p>

<!-- The above piece of code is similar as below in js -->
<!-- document.getElementById("total").innerText = total; -->

<!-- Event Binding -->
<button (click)="fun();">Click to watch magic</button>


<table>
    <tr>
        <th>Even/Odd</th>
        <th>Index</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>
    <tr *ngFor="let detail of details | slice : 0:2; let i = index; let e = even; let o = odd;">
        <td>{{e? 'Even':'Odd'}}</td>
        <td>{{i}}</td>
        <td>{{detail.name | titlecase}}</td>
        <td>{{detail.dob | date}}</td>
        <td>{{detail.age}}</td>
        <td>{{detail.gender}}</td>
    </tr>

</table>

<br>

<div>
    <h3>JSON Pipe</h3>
    {{details | json}} 
</div>