/* You can add global styles to this file, and also import other style files */


td,th{
    padding:15px;
}

table{
    border-collapse: collapse;
    /* margin-top:15px; */
    text-align: left;
    height:200px;
}

th{
    background-color: #5D7E9D;
    color:white
}

table tr th:first-child{
    border-left: 1px solid white;
}

#flex{
    display: flex;
}