/* You can add global styles to this file, and also import other style files */


td,th{
    padding:15px;
}

table{
    border-collapse: collapse;
    /* margin-top:15px; */
    text-align: left;
    height:200px;
}

th{
    background-color: #5D7E9D;
    color:white;
    border:1px solid white;
}

table tr th:first-child{
    border-left: 1px solid white;
}

#flex{
    display: flex;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 


button{
    border:none;
    padding:10px;
    background-color: #5D7E9D;
    border-radius: 5px;
    color:white;
    width:150px;
    cursor: pointer;
}
/* button:hover{
    background-color: #194775;
} */
