<ul>
  <li>{{fname | uppercase}}</li>
  <li>{{lname | lowercase}}</li>
  <li>{{user | json}}</li>

  <li>{{price | currency:'INR'}}</li>
  <li>{{date | date:'MM-dd-yyyy'}}</li>
  <li>{{score | percent:'2.2-4'}}</li>

  <li>{{date | date | uppercase}}</li>

  <li [innerHTML]="user.fname | highlight:user.fname"></li>
</ul>
<table>
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Age</th>
  </tr>

  <tr *ngFor="let d of dob">
    <td>{{d.name}}</td>
    <td>{{d.dob}}</td>
    <td>{{d.dob | age}}</td>
  </tr>
</table>

<div>
  <input type="date" #myDate>
  <button (click)=calc(myDate.valueAsDate);>Calculate</button><br>
  <p>{{d | age}}</p>


</div>