 


<div id="outer">

 
  <div id="vl1"></div>
 

<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit();"  >


    <div>
      <h1>Find your <span>Match</span></h1>
    </div>
  
    <div>
      <label for="name">Enter your name</label>
      <input type="text"  placeholder="Enter your name" formControlName="name" name="name">
      <div>
        <small *ngIf="reactiveForm.get('name').errors?.['required'] && reactiveForm.get('name').touched">Name is required Field</small>
        <small *ngIf="reactiveForm.get('name').errors?.['pattern']">Name cannot contain number or special characters</small>
      </div>
    </div>
  
    <div>
      <label for="age">Enter your age</label>
      <input type="number" value="" placeholder="Enter your age" formControlName="age" age="age">
      <div>
        <small *ngIf="reactiveForm.get('age').errors?.['required'] && reactiveForm.get('age').touched">Age is required Field</small>
        <small *ngIf="reactiveForm.get('age').errors?.['min']">Sorry Kid! We cannot find a match for you.</small>
        <small *ngIf="reactiveForm.get('age').errors?.['max']">Sorry, Is this for your Son/Daughter if we aren't wrong ?</small>
      </div>
    </div>
  
    <div>
      <label for="email">Enter your email</label>
      <input type="text" placeholder="Enter your email" formControlName="email">
      <div>
        <small *ngIf="!reactiveForm.get('email').valid && reactiveForm.get('email').touched">This email is required</small>
      </div>
    </div>
  
    <div>
      <label for="phn">Enter your mobile number</label>
      <input type="text" value="" placeholder="Enter your mobile number" formControlName="mobile">
      <div>
        <small *ngIf="reactiveForm.get('mobile').errors?.['required'] && reactiveForm.get('mobile').touched">Mobile number is required Field</small>

        <small *ngIf="reactiveForm.get('mobile').errors?.['minlength'] && !reactiveForm.get('mobile').errors?.['pattern']">Number cannot be less than 10 digits</small>

        <small *ngIf="reactiveForm.get('mobile').errors?.['maxlength'] && !reactiveForm.get('mobile').errors?.['pattern']" >Number cannot be gretaer than 10 digits</small>

        <small *ngIf="reactiveForm.get('mobile').errors?.['pattern']">Number cannot characters</small>
      </div>
    </div>
  
    <div id="gender">
  
      <label for="gender">Gender</label><br>
      <input type="radio" id="" value="Male" formControlName="gender">
      <label for="gender">Male</label>
      <input type="radio" id="" value="Female" formControlName="gender">
      <label for="gender">Female</label>
      <input type="radio" id="" value="Other" formControlName="gender">
      <label for="gender">Other</label>
    </div>
  
    <div>
      <label for="qualities">Enter Qualities that you wish for</label>
      <div formArrayName="qualities"  >
        <div>
        <ng-container *ngFor="let quality of reactiveForm.get('qualities')['controls'];index as i">
          <input type="text" value="" placeholder="Fair,Job Security..." formControlName="{{i}}">
        </ng-container>
        </div>
        <button id="sub" type="button"  (click)="addQ()" mat-raised-button>+ Add quality</button>
      </div>
    </div>

    <div>
      <label for="qualities">Enter Family Detail Member names</label>
      <div formArrayName="details"  >
        <div>
        <ng-container *ngFor="let quality of reactiveForm.get('details')['controls'];index as i">
          <input type="text" value="" placeholder="Enter your name" formControlName="{{i}}">
          <!-- <input type="text" value="" placeholder="Enter your name" formControlName="{{i+1}}"> -->
        </ng-container>
        </div>
        <button id="sub" type="button"  (click)="addF()" mat-raised-button>+ Add</button>
      </div>
    </div>

    <div>
      <input type="submit" value="Match" id="sub" class="mat-raised-button" [disabled]="!reactiveForm.valid">
    </div>
 
 
</form>
</div>


