/* .example-button-row button{
    margin-right: 15px;;
}
 */


 mat-card{
    width:400px;
    padding:40px;
    margin:50px auto;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
 }

#blk mat-checkbox,mat-radio-button{
    display: block;
    padding-bottom:10px;
}

button{
    margin-left:-3px;
}
.ml{
    margin-left: -3px;
}