

<div class="mat-display-4">This is mat-display-4 class</div>
<div class="mat-display-3">This is mat-display-3 class</div>
<div class="mat-display-2">This is mat-display-2 class</div>
<div class="mat-display-1">This is mat-display-1 class</div>

<hr>

<div class="mat-headline">This is mat-headline class</div>
<div class="mat-title">This is mat-title class</div>
<div class="mat-subheading-2">This is mat-subheading-2 class</div>
<div class="mat-subheading-1">This is subheading-1 class</div>

<hr>

<div class="mat-body-2">This is mat-body-2 - bold body text</div>
<div class="mat-body-1">This is mat-body-1 -  body text</div>
<div class="mat-caption">This is mat-caption</div>

<hr>

<div class="mat-typography">
    <h1>This</h1>
    <h2>This</h2>
    <h3>This</h3>
    <h4>This</h4>
</div>
<hr>

<section>
  <div class="example-label">Basic</div>
  <div>
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<hr>
<section>
  <div>Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<hr>

<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>


<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button color="primary">Primary</button>
    <button mat-flat-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

