div{
    max-width: 380px;
    padding:400px;
}

button{
    border:none;
    padding:10px;
    background-color: #5D7E9D;
    border-radius: 5px;
    color:white;
    width:150px;
    cursor: pointer;
}
button:hover{
    background-color: #194775;
}
p{
    font-size:14px;
}

span{
    font-weight: 600;
}